{
  "runtimes": {
    "HHVM 3.18": {
      "type": "hhvm",
      "bin": "hhvm"
    },
    "HHVM 3.18 (norepo auth)": {
      "type": "hhvm",
      "bin": "hhvm",
      "args": [
        "--no-repo-auth",
        "--i-am-not-benchmarking"
      ]
    },
    "PHP7 FPM": {
      "type": "php-fpm",
      "bin": "php-fpm7.0"
    },
    "PHP7 CGI": {
      "type": "php-src",
      "bin": "php-cgi7.0"
    }
  },
  "targets": [
    "wordpress",
    "drupal7",
    "drupal8-no-cache",
    "mediawiki",
    "magento1"
  ],
  "runtime-overrides": {
    "magento1": {
      "__comment": [
        "Recent versions of PHP7 can not run Magento1 because of",
        "https://wiki.php.net/rfc/uniform_variable_syntax"
      ],
      "PHP7 FPM": {
        "skip": true
      },
      "PHP7 CGI": {
        "skip": true
      }
    }
  },
  "settings": {
    "username": "root",
    "password": "root",
    "options": [
      "cpu-fraction=0.5",
      "i-am-not-benchmarking"
    ]
  }
}
