{
  "runtimes": {
    "HHVM 3.1 (2014-05-27)": {
      "type": "hhvm",
      "bin": "hhvm-3.1.0"
    },
    "HHVM 3.4 (2014-11-14)": {
      "type": "hhvm",
      "bin": "hhvm-3.4.0"
    },
    "HHVM 3.5 (2015-01-16)": {
      "type": "hhvm",
      "bin": "hhvm-3.5.0"
    },
    "PHP7 (*)": {
      "type": "php-src",
      "bin": "php7-cgi-2015-01-14"
    },
    "PHP 5.6.5": {
      "type": "php-src",
      "bin": "php-cgi-5.6.5"
    }
  },
  "targets": [
    "wordpress",
    "drupal7",
    "mediawiki",
    "magento1",
    "sugarcrm-login-page",
    "sugarcrm-home-page"
  ],
  "runtime-overrides": {
    "sugarcrm-home-page": {
      "__comment": [
        "Recent versions of PHP7 segfault in clean_non_persistent_constants()"
      ],
      "PHP7 (*)": {
        "bin": "php7-cgi-2014-08-15"
      }
    },
    "magento1": {
      "__comment": [
        "Recent versions of PHP7 can not run Magento1 because of",
        "https://wiki.php.net/rfc/uniform_variable_syntax"
      ],
      "PHP7 (*)": {
        "bin": "php7-cgi-2014-08-15"
      }
    }
  }
}
